{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Inventariobodega list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idinventariobodega</th>
                <th>Fechallegada</th>
                <th>Numerorefrigerios</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('inventariobodega_show', { 'id': entity.idinventariobodega }) }}">{{ entity.idinventariobodega }}</a></td>
                <td>{% if entity.fechallegada %}{{ entity.fechallegada|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.numerorefrigerios }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('inventariobodega_show', { 'id': entity.idinventariobodega }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('inventariobodega_edit', { 'id': entity.idinventariobodega }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('inventariobodega_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
