{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Inventariobodega</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idinventariobodega</th>
                <td>{{ entity.idinventariobodega }}</td>
            </tr>
            <tr>
                <th>Fechallegada</th>
                <td>{{ entity.fechallegada|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Numerorefrigerios</th>
                <td>{{ entity.numerorefrigerios }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('inventariobodega') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('inventariobodega_edit', { 'id': entity.idinventariobodega }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
