{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Controlasistencia list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idcontrolasistencia</th>
                <th>Numeroasistentes</th>
                <th>Fechaasistencia</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('controlasistencia_show', { 'id': entity.idcontrolasistencia }) }}">{{ entity.idcontrolasistencia }}</a></td>
                <td>{{ entity.numeroasistentes }}</td>
                <td>{% if entity.fechaasistencia %}{{ entity.fechaasistencia|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('controlasistencia_show', { 'id': entity.idcontrolasistencia }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('controlasistencia_edit', { 'id': entity.idcontrolasistencia }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('controlasistencia_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
