{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Controlasistencia</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idcontrolasistencia</th>
                <td>{{ entity.idcontrolasistencia }}</td>
            </tr>
            <tr>
                <th>Numeroasistentes</th>
                <td>{{ entity.numeroasistentes }}</td>
            </tr>
            <tr>
                <th>Fechaasistencia</th>
                <td>{{ entity.fechaasistencia|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('controlasistencia') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('controlasistencia_edit', { 'id': entity.idcontrolasistencia }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
