{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Contrato list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idcontrato</th>
                <th>Totalrefrigerios</th>
                <th>Anio</th>
                <th>Fechavencimiento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('contrato_show', { 'id': entity.idcontrato }) }}">{{ entity.idcontrato }}</a></td>
                <td>{{ entity.totalrefrigerios }}</td>
                <td>{% if entity.anio %}{{ entity.anio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechavencimiento %}{{ entity.fechavencimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('contrato_show', { 'id': entity.idcontrato }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('contrato_edit', { 'id': entity.idcontrato }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('contrato_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
