{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Contrato</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idcontrato</th>
                <td>{{ entity.idcontrato }}</td>
            </tr>
            <tr>
                <th>Totalrefrigerios</th>
                <td>{{ entity.totalrefrigerios }}</td>
            </tr>
            <tr>
                <th>Anio</th>
                <td>{{ entity.anio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechavencimiento</th>
                <td>{{ entity.fechavencimiento|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('contrato') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('contrato_edit', { 'id': entity.idcontrato }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
