{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Curso list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idcurso</th>
                <th>Cursnombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('curso_show', { 'id': entity.idcurso }) }}">{{ entity.idcurso }}</a></td>
                <td>{{ entity.cursnombre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('curso_show', { 'id': entity.idcurso }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('curso_edit', { 'id': entity.idcurso }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('curso_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
