{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Curso</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idcurso</th>
                <td>{{ entity.idcurso }}</td>
            </tr>
            <tr>
                <th>Cursnombre</th>
                <td>{{ entity.cursnombre }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('curso') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('curso_edit', { 'id': entity.idcurso }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
